https://ppaliwald1.crm.dynamics.com/
admin@ppaliwald1.onmicrosoft.com
piyushpa@863784

auto number configurator

logical name
display name
description 
max length (only integers +ve)
num format

btn.createAttri
btn.delAttri