body{
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #e0e0e0 0%, #e0e0e0 20%, #f1f1f1 20%, #f1f1f1 100%);
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#e0e0e0 20%,#f1f1f1 20%,#f1f1f1 100%);
    background: linear-gradient(to bottom, #e0e0e0 0%,#e0e0e0 20%,  #f1f1f1 20%,#f1f1f1 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #505050;
    height: 100%;
    margin: 0px 30px;
    overflow: hidden;
}

.main-heading{
    font-weight: lighter;
    font-size: 24px;
    color: #505050;
    line-height: 32px;
}

.settings>img{
    height: 18px;
    margin-bottom: 3px;
}

/* Main Container */
.content{
    background: #fff;
    height: 80vh;
}

.left{
    border-right: 2px dashed #e0e0e0;
    /* position: relative; */
    overflow-y: scroll !important;
    height: 100%;
}

/* Form */
form{
    margin-bottom: 10px;
}

.form-control, #solutions-select{
    border-radius: 0%;
    border: 1px solid #C6C6C6;
    height: 28px;
    font-size: 14px;
  }

#solutions-select{
  padding: 0 12px;
}

.form-control:focus{
    box-shadow: none;
}

.form-heading{
    font-weight: lighter;
    font-size: 21px;
    color: #505050;
    line-height: 32px;
    padding: 10px 0;
}

th{
    font-weight: 500;
}

.btn-primary, .btn-primary:hover, .btn-primary:active{
    background-color: #505050;
    border: 1px solid #BDC3C7;
    border-radius: 0%;
    height: 28px;
    line-height: 14px;
}

.lname{
    display: inline-block;
    border: 1px solid #C6C6C6;
    height: 28px;
    width: 28px;
}

.entity>div>div>.btn-primary{
    margin-top: 28px;
}

.input-group, select{
    height: 28px;
}

.solutions{
    margin-bottom: 10px;
}

.loading{
    margin-left: 15px;
}

/**************************\
  Basic Modal Styles
\**************************/
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    width: 300px;
}
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  /**************************\
    Existing AutoNumber
  \**************************/

.highlight{
  background-color: rgba(231,239,247,1); 
}

table#existingANtable.table.table-hover.dataTable.no-footer{
  width: 100%;
}

table.dataTable {
  border-collapse: collapse !important;
}